{{#if @blog.github}}
<li class="external-link"><a href="{{@blog.github.url}}" target="_blank"><i class="fa fa-github"></i> GitHub</a></li>
{{/if}}

{{#if @blog.linkedin}}
<li class="external-link"><a href="{{@blog.linkedin.url}}" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
{{/if}}

{{#if @blog.twitter}}
<li class="external-link"><a href="{{@blog.twitter.url}}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
{{/if}}

{{#if @blog.googlePlus}}
<li class="external-link"><a href="{{@blog.googlePlus.url}}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
{{/if}}

{{#if @blog.youtube}}
<li class="external-link"><a href="{{@blog.youtube.url}}" target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a></li>
{{/if}}

{{#if @blog.contact}}
<li class="external-link"><a target="_blank" href="mailto:{{@blog.contact.email}}"><i class="fa fa-envelope"></i> Contact</a></li>
{{/if}}